	</main>
	<footer>
	</footer>
	<script>
		// Set header share button clipboard and modal functionality
		const shareBtn = '#share-btn';
		new ClipboardJS(shareBtn, {
				text: function(trigger) {
						return window.location.href;
				}
		});
		$(shareBtn).on('click', function() {
			$('.ui.mini.modal').modal('show');
		});
	</script>
	<!-- Add scripts from rendered view-->
	<% if (typeof scripts === 'object') { %>
		<% scripts.forEach(script => { %>
			<%- script %>
		<% }); %>
	<% } %>
</body>
</html>