<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Tastyfi.me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<!-- semantic-ui-->
	<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
	<script src="/semantic/dist/semantic.min.js"></script>

	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
</head>
<body>
	<header>
		<nav class="ui top fixed inverted borderless menu">
			  <a href="/" class="item ui huge header">Tastyfi.me</a>
				<% if (currentUser) { %>
					<a class="right item" href="/logout">Log Out</a>
				<% } %>
		</nav>
	</header>
	<main>