<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Tastyfi.me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<!-- semantic-ui-->
	<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
	<script src="/semantic/dist/semantic.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

	<!-- Add stylesheets from rendered view-->
	<% if (typeof stylesheets === 'object') { %>
		<% stylesheets.forEach(stylesheet => { %>
			<%- stylesheet %>
		<% }); %>
	<% } %>

	<!-- Add scripts from rendered view-->
	<% if (typeof scripts === 'object') { %>
		<% scripts.forEach(script => { %>
			<%- script %>
		<% }); %>
	<% } %>
</head>
<body>
	<header>
		<!-- Modal will be invisible unless toggled by user -->
		<div class="ui mini modal">
			<div class="header">This profile's URL has been added to your clipboard</div>
			<div class="image content">
				<div class="description">
					<p>Feel free to share it with your friends!</p>
				</div>
			</div>
			<div class="actions">
					<div class="ui positive right labeled icon button">
						Okay
						<i class="checkmark icon"></i>
					</div>
				</div>
		</div>
		<nav class="ui top fixed inverted borderless menu">
				<a href="/" class="item ui huge header">Tastyfi.me</a>
				<div class="right menu">
					<a id="share-btn" class="item"><i class="share alternate icon"></i>Share</a>
					<% if (currentUser) { %>
						<a class="item" href="/logout"><i class="power off icon"></i>Log Out</a>
					<% } else { %>
						<a href="/auth/spotify" class="item"><i class="lemon icon"></i>Sign Up</a>
					<% } %>
				</div>
		</nav>
	</header>
	<main>