<header>
	<div class="ui mini modal">
		<div class="header">This profile's URL has been added to your clipboard</div>
		<div class="image content">
			<div class="description">
				<p>Feel free to share it with your friends!</p>
			</div>
		</div>
		<div class="actions">
				<div class="ui positive right labeled icon button">
					Okay
					<i class="checkmark icon"></i>
				</div>
			</div>
	</div>
	<nav class="ui top fixed inverted borderless menu">
			<a href="/" class="item ui huge header">Tastyfi.me</a>
			<div class="right menu">
				<a id="share-btn" class="item"><i class="share alternate icon"></i>Share</a>
				<% if (currentUser) { %>
					<a class="item" href="/logout">Log Out</a>
				<% } else { %>
					<a href="/auth/spotify" class="item">Sign Up</a>
				<% } %>
			</div>
	</nav>
</header>