<header>
	<nav class="ui top fixed inverted borderless menu">
			<a href="/" class="item ui huge header">Tastyfi.me</a>
			<% if (currentUser) { %>
				<a class="right item" href="/logout">Log Out</a>
			<% } %>
	</nav>
</header>