<% const stylesheets = ['<link rel="stylesheet" type="text/css" href="/stylesheets/404.css">'] %>
<%- include('partials/header', {stylesheets}) %>

<div class="ui container">
	<p>Whoops! It looks like we couldn't find the page you were looking for.</p>
	<p>(｡╯︵╰｡)</p>
</div>

<%- include partials/footer %>