<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Tastyfi.me</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<!-- semantic-ui-->
		<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
		<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
		<script src="/semantic/dist/semantic.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	</head>
	<body>
		<main class="ui center aligned container">
			<h1 id="logo">Tastyfi.me</h1>
			<section id="description">
				<p>Discover your (good) taste in music.</p>
			</section>
			<div id="get-started-btn" class="huge ui left labeled button" tabindex="0">
				<a class="ui basic label" href="/auth/spotify">Get Started</a>
				<div class="ui icon button">
					<i class="large spotify icon"></i>
				</div>
			</div>
		</main>
	</body>
</html>