/* Mobile-First Responsive Styles */

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;

	color: white;
	background-color: black;

	background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.1)), 
	url('../images/landing-bg.jpg');
	background-position: center, 
	center;
	background-size: cover, 
	cover;
	background-repeat: no-repeat, 
	no-repeat;
}

header {
	padding-top: 7em;
}

.ui.negative.message {
	margin-top: -2em;
	margin-bottom: 2em;
}

#logo {
	font-size: 4em;
}

#description {
	font-size: 1.2em;
}

#get-started-btn {
	font-size: 1em;
	margin-top: 3em;
	margin-bottom: 2em;
}

/* Media Queries for Larger Devices */

@media all and (min-width: 768px) {
	#logo {
		font-size: 7em;
	}
	
	#description {
		font-size: 2em;
	}

	#get-started-btn {
		font-size: 1.3em;
	}
}

@media all and (min-width: 1440px) {
	header {
		padding-top: 10em;
	}

	#logo {
		font-size: 8em;
	}

	#get-started-btn {
		font-size: 1.5em;
	}
}

/* Queries for Landscape mode on Mobiles */

@media all and (min-width: 320px)
					 and (max-width: 599px)
					 and (orientation: landscape) {
	header {
		padding-top: 3em;
	}

	.ui.negative.message {
		max-width: 80%;
		margin: 0 auto;
		font-size: 0.55em;
	}

	#get-started-btn {
		font-size: 0.9em;
	}
}

@media all and (min-width: 600px)
					 and (max-width: 830px)
					 and (orientation: landscape) {
	header {
		padding-top: 3em;
	}

	.ui.negative.message {
		max-width: 80%;
		margin: 0 auto;
		font-size: 0.65em;
	}

	#get-started-btn {
		font-size: 0.9em;
	}
}