body {
	background: linear-gradient(to right, rgba(237,237,237,1) 0%, rgba(246,246,246,0.74) 53%, rgba(255,255,255,0.5) 100%),
							linear-gradient(to right, rgba(239,1,124,1) 0%, rgba(255,93,177,1) 100%);
}

main {	
	padding-top: 10em;
}

/* Adjust the menu size for small and medium mobile devices */
@media all and (min-width: 320px) and (max-width: 424px) {
	main {
		padding-top: 7em;
	}

	.ui.menu .header {
		font-size: 1.5em;
	}
	
	.ui.menu .item:not(.header) {
		font-size: 0.75em;
	}
}